@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: var(--off-white);
  background-color: var(--primary-black);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

#profession {
  padding-top: 1rem;
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
}

@media (max-width: 375px) {
  #profession {
  padding-top: var(--espacamento-lg);
  font-size: 0.9rem;
  width: 90%;
  text-align: justify;
}
}