:root {
    --off-white: #f8f8f8;
    --primary-blue: #5f5dff;
    --primary-black: #000;
    --secondary-black: #212121;

    --espacamento-lg : 2rem;
    --espacamento-md : 1.5rem;
    --espacamento-sm : 1rem;

    --espacamento-px-lg : 20px;
    --espacamento-px-md : 15px;
    --espacamento-px-sm : 10px;

    --font-size-lg : 1.5rem;
    --font-size-md : 1.2rem;
    --font-size-sm : 1rem;
    
    --font-family-primary : system-ui, -apple-system, sans-serif;
}
